<h2>Template</h2>
<hr>

<ul class="list-group">
  <li *ngFor="let menuItem of templateMenu"
      [routerLink]="[menuItem.ruta]"
      class="list-group-item"
      routerLinkActive="active">
    {{menuItem.texto}}
  </li>
</ul>


<h2 class="mt-5">Reactive</h2>
<hr>

<ul class="list-group">
  <li *ngFor="let menuItem of reactiveMenu"
      [routerLink]="[menuItem.ruta]"
      class="list-group-item"
      routerLinkActive="active">
    {{menuItem.texto}}
  </li>
</ul>


<h2 class="mt-5">Validaciones</h2>
<hr>

<ul class="list-group">
  <li *ngFor="let menuItem of authMenu"
      [routerLink]="[menuItem.ruta]"
      class="list-group-item"
      routerLinkActive="active">
    {{menuItem.texto}}
  </li>
</ul>